root = true

[*.{json, js, ts, html, css, scss, svg, xml, toml, py, yaml, yml, md}]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[**.{json, yaml, yml, html, css, xml, js, ts, scss, svg}]
indent_size = 2

[**.py]
indent_size = 4
